* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    line-height: 1.5;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 500;
    height: 80px;
    line-height: 80px;
}

.header nav {
    margin-left: auto;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 160px;
    height: auto;
}

.content {
    margin-top: 80px;
}

.slogan-container {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.slogan {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ITGOlt {
    text-align: center;
    width: 90%; /* Примерная ширина блока */
    margin: 0 auto; /* Центрирование блока */
}

.ITGOlt .logoITGO-img {
    width: 50px; /* Примерная ширина изображения */
    height: auto; /* Автоматический подбор высоты */
    margin-top: 50px;
}

.ITGOlt .textITGO {
    font-style: italic; /* Добавляем наклон */
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 50px; /* Изменил размер для демонстрации */
    letter-spacing: 0;
    line-height: normal;
}

.ITGOlt .aboutITGO {
    text-align: left;
    font-size: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.ITGOlt .number{
    text-align: left;
    font-size: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0; 
}

.button-link {
    display: inline-block;
}

.button-img {
    width: 400px; 
    height: auto;
    transition: transform 0.3s, opacity 0.3s; 
}

.button-link:hover .button-img {
    transform: scale(1.1); 
    opacity: 0.8; 
}
.ITGOlt .aboutdopITGO{
    text-align: left;
    font-size: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.button-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0; 
}

.button-link {
    display: inline-block;
}

.button-img1 {
    width: 400px; 
    height: auto;
    transition: transform 0.3s, opacity 0.3s; 
}

.button-link:hover .button-img1 {
    transform: scale(1.1); 
    opacity: 0.8; 
}