<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Contact.css">
    <link rel="icon" href="../static/images/ITGOlog.png" type="image/x-icon">
    <title>Контакты</title>
</head>
<body>
    <header class="header"> <!-- Блок заголовка страницы -->
        <a href="../home/">
            <img src="../static/images/ITGO_nazvanie_bezfona.png" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="../home/">Главная</a></li>
                <li><a href="../about/">О нас</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="slogan-container">
            <img src="../static/images/ITGO_slogan.png" class="slogan">
        </div>
    </div>
    <div class="ITGOlt">
        <img src="../static/images/ITGOlogo.png" class="logoITGO-img">
        <p class="textITGO">ITGO (Information Technology Group Online)</p>
        <p class="aboutITGO"><br>Контакты компании ITGO:<br><br></p>
        <img src="../static/images/telegram-logo.png" class="logoITGO-img">
        <div class="button-row">
            <div class="button-container">
                <a href="https://t.me/ITGOPodderzhka_bot" class="button-link">
                    <img src="../static/images/PodderzhkaTG.png" class="button-img" alt="Узнать больше" id="button-img1">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/OtzvITGO" class="button-link">
                    <img src="../static/images/otzvTG.png" class="button-img" alt="Узнать больше" id="button-img2">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/ITGOCHAT" class="button-link">
                    <img src="../static/images/chatTG.png" class="button-img" alt="Узнать больше" id="button-img3">
                </a>
            </div>
        </div>
        <div class="button-container">
            <a href="https://t.me/ITGOShop_bot" class="button-link">
                <img src="../static/images/weTG.png" class="button-img" alt="Узнать больше" id="button-img4">
            </a>
        </div>

        <div class="ITGOlt">
            <img src="../static/images/vkontakte-logo.png" class="logoITGO-img1">
            <div class="button-row">
                <div class="button-container">
                    <a href="https://vk.com/itgocompany" class="button-link">
                        <img src="../static/images/weVK.png" class="button-img" alt="Узнать больше" id="button-img5">
                    </a>
                </div>
                <div class="button-container">
                    <a href="https://vk.com/itgocompany?w=app6326142_-225303904" class="button-link">
                        <img src="../static/images/otzvVK.png" class="button-img" alt="Узнать больше" id="button-img6">
                    </a>
                </div>
            </div>
            <div class="button-container">
                <a href="../ITGO/" class="button-link">
                    <img src="../static/images/uzn-ITGO.png" class="button-img" alt="Узнать больше" id="button-img10">
                </a>
            </div>
        </div>
    </div>


    <div class="ITGOlt">
        <img src="../static/images/ITGO_Games.png" class="logoITGO-img1">
        <p class="textITGO">ITGO Games</p>
        <p class="aboutITGO"><br>Контакты компании ITGO Games:<br><br></p>
        <img src="../static/images/telegram-logo.png" class="logoITGO-img">
        <div class="button-row">
            <div class="button-container">
                <a href="https://t.me/ITGOGamesBot" class="button-link">
                    <img src="../static/images/PodderzhkaTG.png" class="button-img" alt="Узнать больше" id="button-1">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/+I__bH8sDH7owZTA6" class="button-link">
                    <img src="../static/images/otzvTG.png" class="button-img" alt="Узнать больше" id="button-2">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/+hgtG0Y72NM5jYjY6" class="button-link">
                    <img src="../static/images/chatTG.png" class="button-img" alt="Узнать больше" id="button-3">
                </a>
            </div>
        </div>
        <div class="button-container">
            <a href="https://t.me/ITGOGames_bot" class="button-link">
                <img src="../static/images/weTG.png" class="button-img" alt="Узнать больше" id="button-4">
            </a>
        </div>

        <div class="ITGOlt">
            <img src="../static/images/vkontakte-logo.png" class="logoITGO-1">
            <div class="button-row">
                <div class="button-container">
                    <a href="https://vk.com/itgogames" class="button-link">
                        <img src="../static/images/weVK.png" class="button-img" alt="Узнать больше" id="button-5">
                    </a>
                </div>
                <div class="button-container">
                    <a href="https://vk.com/itgogames?w=app6326142_-226063053" class="button-link">
                        <img src="../static/images/otzvVK.png" class="button-img" alt="Узнать больше" id="button-6">
                    </a>
                </div>
            </div>
            <div class="button-container1">
                <a href="../ITGOGames/" class="button-link">
                    <img src="../static/images/uzn-ITGOG.png" class="button-img" alt="Узнать больше" id="button-img9">
                </a>
            </div>
        </div>
    </div>
</div>

    <script>
        const button1 = document.getElementById('button-1');
        button1.addEventListener('mouseover', () => {
            button1.src = '../static/images/PodderzhkaTG-naz.png';
        });
        button1.addEventListener('mouseout', () => {
            button1.src = '../static/images/PodderzhkaTG.png';
        });

        const button2 = document.getElementById('button-2');
        button2.addEventListener('mouseover', () => {
            button2.src = '../static/images/otzvTG-naz.png';
        });
        button2.addEventListener('mouseout', () => {
            button2.src = '../static/images/otzvTG.png';
        });

        const button3 = document.getElementById('button-3');
        button3.addEventListener('mouseover', () => {
            button3.src = '../static/images/chatTG-naz.png';
        });
        button3.addEventListener('mouseout', () => {
            button3.src = '../static/images/chatTG.png';
        });

        const button4 = document.getElementById('button-4');
        button4.addEventListener('mouseover', () => {
            button4.src = '../static/images/weTG-naz.png';
        });
        button4.addEventListener('mouseout', () => {
            button4.src = '../static/images/weTG.png';
        });

        const button5 = document.getElementById('button-5');
        button5.addEventListener('mouseover', () => {
            button5.src = '../static/images/weVK-naz.png';
        });
        button5.addEventListener('mouseout', () => {
            button5.src = '../static/images/weVK.png';
        });

        const button6 = document.getElementById('button-6');
        button6.addEventListener('mouseover', () => {
            button6.src = '../static/images/otzvVK-naz.png';
        });
        button6.addEventListener('mouseout', () => {
            button6.src = '../static/images/otzvVK.png';
        });

        const buttonImg1 = document.getElementById('button-img1');
        buttonImg1.addEventListener('mouseover', () => {
            buttonImg1.src = '../static/images/PodderzhkaTG-naz.png';
        });
        buttonImg1.addEventListener('mouseout', () => {
            buttonImg1.src = '../static/images/PodderzhkaTG.png';
        });

        const buttonImg2 = document.getElementById('button-img2');
        buttonImg2.addEventListener('mouseover', () => {
            buttonImg2.src = '../static/images/otzvTG-naz.png';
        });
        buttonImg2.addEventListener('mouseout', () => {
            buttonImg2.src = '../static/images/otzvTG.png';
        });

        const buttonImg3 = document.getElementById('button-img3');
        buttonImg3.addEventListener('mouseover', () => {
            buttonImg3.src = '../static/images/chatTG-naz.png';
        });
        buttonImg3.addEventListener('mouseout', () => {
            buttonImg3.src = '../static/images/chatTG.png';
        });

        const buttonImg4 = document.getElementById('button-img4');
        buttonImg4.addEventListener('mouseover', () => {
            buttonImg4.src = '../static/images/weTG-naz.png';
        });
        buttonImg4.addEventListener('mouseout', () => {
            buttonImg4.src = '../static/images/weTG.png';
        });

        const buttonImg5 = document.getElementById('button-img5');
        buttonImg5.addEventListener('mouseover', () => {
            buttonImg5.src = '../static/images/weVK-naz.png';
        });
        buttonImg5.addEventListener('mouseout', () => {
            buttonImg5.src = '../static/images/weVK.png';
        });

        const buttonImg6 = document.getElementById('button-img6');
        buttonImg6.addEventListener('mouseover', () => {
            buttonImg6.src = '../static/images/otzvVK-naz.png';
        });
        buttonImg6.addEventListener('mouseout', () => {
            buttonImg6.src = '../static/images/otzvVK.png';
        });
        const buttonImg10 = document.getElementById('button-img10');
        buttonImg10.addEventListener('mouseover', () => {
            buttonImg10.src = '../static/images/uzn-ITGOnaz.png';
        });
        buttonImg10.addEventListener('mouseout', () => {
            buttonImg10.src = '../static/images/uzn-ITGO.png';
        });
        const buttonImg9 = document.getElementById('button-img9');
        buttonImg9.addEventListener('mouseover', () => {
            buttonImg9.src = '../static/images/uzn-ITGOG-naz.png';
        });
        buttonImg9.addEventListener('mouseout', () => {
            buttonImg9.src = '../static/images/uzn-ITGOG.png';
        });
    </script>
</body>
</html>