<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ITGOGC.css">
    <link rel="icon" href="../static/images/ITGOGame.png" type="image/x-icon">
    <title>Контакты</title>
</head>
<body>
    <header class="header"> <!-- Блок заголовка страницы -->
        <a href="../ITGOGames/">
            <img src="../static/images/ITGOGames-logo.png" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="../ITGOGames/">Главная</a></li>
                <li><a href="../aboutITGOGames/">О нас</a></li>
                <li><a href="../ITGOGContact/">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="slogan-container">
            <img src="../static/images/TGOGame-verh.png" class="slogan">
        </div>
    </div>
    <div class="ITGOlt">
        <img src="../static/images/ITGO_Games.png" class="logoITGO-img1">
        <p class="textITGO">ITGO Games</p>
        <p class="aboutITGO"><br>Контакты компании ITGO Games:<br><br></p>
        <img src="../static/images/telegram-logo.png" class="logoITGO-img">
        <div class="button-row">
            <div class="button-container">
                <a href="https://t.me/ITGOGamesBot" class="button-link">
                    <img src="../static/images/PodderzhkaTG.png" class="button-img" alt="Узнать больше" id="button-1">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/+I__bH8sDH7owZTA6" class="button-link">
                    <img src="../static/images/otzvTG.png" class="button-img" alt="Узнать больше" id="button-2">
                </a>
            </div>
            <div class="button-container">
                <a href="https://t.me/+hgtG0Y72NM5jYjY6" class="button-link">
                    <img src="../static/images/chatTG.png" class="button-img" alt="Узнать больше" id="button-3">
                </a>
            </div>
        </div>
        <div class="button-container">
            <a href="https://t.me/ITGOGames_bot" class="button-link">
                <img src="../static/images/weTG.png" class="button-img" alt="Узнать больше" id="button-4">
            </a>
        </div>

        <div class="ITGOlt">
            <img src="../static/images/vkontakte-logo.png" class="logoITGO-1">
            <div class="button-row">
                <div class="button-container">
                    <a href="https://vk.com/itgogames" class="button-link">
                        <img src="../static/images/weVK.png" class="button-img" alt="Узнать больше" id="button-5">
                    </a>
                </div>
                <div class="button-container">
                    <a href="https://vk.com/itgogames?w=app6326142_-226063053" class="button-link">
                        <img src="../static/images/otzvVK.png" class="button-img" alt="Узнать больше" id="button-6">
                    </a>
                </div>
            </div>
            <div class="button-container1">
                <a href="../ITGOGames/" class="button-link">
                    <img src="../static/images/uzn-ITGOG.png" class="button-img" alt="Узнать больше" id="button-img9">
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    const button1 = document.getElementById('button-1');
    button1.addEventListener('mouseover', () => {
        button1.src = '../static/images/PodderzhkaTG-naz.png';
    });
    button1.addEventListener('mouseout', () => {
        button1.src = '../static/images/PodderzhkaTG.png';
    });

    const button2 = document.getElementById('button-2');
    button2.addEventListener('mouseover', () => {
        button2.src = '../static/images/otzvTG-naz.png';
    });
    button2.addEventListener('mouseout', () => {
        button2.src = '../static/images/otzvTG.png';
    });

    const button3 = document.getElementById('button-3');
    button3.addEventListener('mouseover', () => {
        button3.src = '../static/images/chatTG-naz.png';
    });
    button3.addEventListener('mouseout', () => {
        button3.src = '../static/images/chatTG.png';
    });

    const button4 = document.getElementById('button-4');
    button4.addEventListener('mouseover', () => {
        button4.src = '../static/images/weTG-naz.png';
    });
    button4.addEventListener('mouseout', () => {
        button4.src = '../static/images/weTG.png';
    });

    const button5 = document.getElementById('button-5');
    button5.addEventListener('mouseover', () => {
        button5.src = '../static/images/weVK-naz.png';
    });
    button5.addEventListener('mouseout', () => {
        button5.src = '../static/images/weVK.png';
    });

    const button6 = document.getElementById('button-6');
    button6.addEventListener('mouseover', () => {
        button6.src = '../static/images/otzvVK-naz.png';
    });
    button6.addEventListener('mouseout', () => {
        button6.src = '../static/images/otzvVK.png';
    });
    const buttonImg9 = document.getElementById('button-img9');
    buttonImg9.addEventListener('mouseover', () => {
        buttonImg9.src = '../static/images/uzn-ITGOG-naz.png';
    });
    buttonImg9.addEventListener('mouseout', () => {
        buttonImg9.src = '../static/images/uzn-ITGOG.png';
    });
    </script>
</body>
</html>